*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    }
.background-video{
    object-position: center;
    position:fixed;
    object-fit: cover;
    width:100vw;
    height:100vh;
    z-index:-1; 
    }
.intro{
    height:100vh; 
    background-color: rgba(0, 0, 0, 0.603);
}
.about{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-shadow: black 1px 1px 5px;
    color:white;
}
.desc{
    display:flex;
    justify-content:center;
    flex-direction: column;
    padding: 2rem;   
}
.btn{
    text-shadow:none;
}
.Section{
    height:100vh;
    padding-top:2rem;
    background-color:#f7f7f7;
}
.Section-Header{
    text-align:center;
}
.skill-container{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    width:100%;
    height:80vh;
}
.skills{
    padding:2rem;
    text-align:center;
    
}
.card{
    height:100%;
}
.skill img{
    height:30vh;
    width:fit-content;
}
.card-body{
    flex:1;
}
.project-container{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    width:100%;
    height:80vh;
}
.projects{
    padding:2rem;
    text-align:center;
}
footer{
    background-color: #f7f7f7;
    padding-top:2rem;
}
.footer{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.contacts{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.contact-me{
    text-align:justify;
}  
ul li{
    list-style:none;
}
i{
    font-size:30px;
}
@media (max-width:1200px) {
    .Section{
        height:auto;
    }
    .skill-container{
        flex-direction:column;
        align-items:center;
        height:auto;
    }
    .project-container{
        flex-direction:column;
        align-items:center;
        height:auto;
    }
}
@media (max-width:576px){
    .contacts{
        flex-direction:column;
        align-items:center;
        height:auto;
    }
    .contact-me{
        text-align:start;
    }
}