*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    }
.background-video{
    min-width: 100vw;
    min-height: 100vh;
    z-index:-1; 
    }
.intro{
    height:100vh; 
    
}
.about{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-shadow: black 1px 1px 5px;
}
.desc{
    display:flex;
    justify-content:center;
    flex-direction: column;
    padding: 2rem;   
}
.Section{
    padding-top:2rem;
    background-color:#f7f7f7;
}
.Section-Header{
    text-align:center;
    flex:1;
}
.skill-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    width:100%;
    flex:1;
}
.skills{
    padding:2rem;
    text-align:center;
    flex:1;
}
.project-section{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.projects img{
    height:225px;
    width:225px;
}
.projects img:hover{
    transform:scale(1.125);
}
.project-content{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:start;
    padding:0.5rem;
    text-align:center;
}
.projects{
    margin:2rem 0;
    display:flex;
    width:70vw;
}
footer{
    background-color: #f7f7f7;
}
.footer{
    display:flex;
    justify-content:space-between;
}
.contact-me{
    text-align:end;
}   
ul li{
    list-style:none;
}
i{
    font-size:30px;
}
@media (max-width:576px){
    .about{
        flex-direction:column;
        text-align:center;
    }
    .desc h3, .desc p{
        margin:0;
    }
    .skill-container{
        flex-direction:column;
    }
    .projects{
        flex-direction:column;
        align-items:center;
    }
    .project-section{
        text-align:center;
    }
    .footer{
        flex-direction:column;
        align-items:center;
    }
    .footer img{
        height:auto !important;
        width:250px !important;
    }
    .contact-me{
        text-align:start;
    }
    ul li{
        padding:0;
    }
}